*
!.gitignore
!eficiencia_nominal_50u_5m/
!eficiencia_nominal_50u_5m/master-*.log
!eficiencia_nominal_50u_5m/rep-*/
!eficiencia_nominal_50u_5m/rep-*/metadata.json
!eficiencia_nominal_50u_5m/rep-*/locust.log
!eficiencia_nominal_50u_5m/rep-*/locust_stats.csv
!eficiencia_nominal_50u_5m/rep-*/locust_failures.csv
!eficiencia_nominal_50u_5m/rep-*/locust_exceptions.csv
!eficiencia_nominal_50u_5m/rep-*/prometheus-*.promql
!eficiencia_nominal_50u_5m/rep-*/prometheus-*-result.txt
!eficiencia_nominal_50u_5m/rep-*/prometheus-health-before.txt
!eficiencia_nominal_50u_5m/rep-*/gateway-health-*.json
!eficiencia_nominal_50u_5m/rep-*/reservas-health-*.json
!eficiencia_nominal_50u_5m/rep-*/docker-stats-*.txt
!fiabilidad_nominal_50u_1h/
!fiabilidad_nominal_50u_1h/**
!fiabilidad_nominal_50u_1h_refresh/
!fiabilidad_nominal_50u_1h_refresh/**
!ramp_0_200_10m/
!ramp_0_200_10m/run-*/
!ramp_0_200_10m/run-*/metadata.json
!ramp_0_200_10m/run-*/environment.txt
!ramp_0_200_10m/run-*/locust.log
!ramp_0_200_10m/run-*/locust_stats.csv
!ramp_0_200_10m/run-*/locust_failures.csv
!ramp_0_200_10m/run-*/locust_exceptions.csv
!ramp_0_200_10m/run-*/prometheus-up-after.json
!ramp_0_200_10m/run-*/gateway-health-after.json
!ramp_0_200_10m/run-*/reservas-health-after.json
!ramp_0_200_10m/run-*/docker-stats-*.txt
!fiabilidad_nominal_50u_1h_refresh_poblada/
!fiabilidad_nominal_50u_1h_refresh_poblada/**
!fiabilidad_nominal_50u_1h_refresh_poblada_smoke/
!fiabilidad_nominal_50u_1h_refresh_poblada_smoke/**
!eficiencia_nominal_50u_5m_poblada/
!eficiencia_nominal_50u_5m_poblada/**
!eficiencia_nominal_50u_5m_poblada_smoke/
!eficiencia_nominal_50u_5m_poblada_smoke/**
